<!DOCTYPE HTML>
<html lang="zh-hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" th:href="@{/favicon.ico}">
    <link rel="Shortcut Icon" th:href="@{/favicon.ico}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/lib/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{/lib/respond.min.js}"></script>
    <![endif]-->
    <link rel="stylesheet" th:href="@{/blog/css/simpleControl.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" th:href="@{/blog/Semantic-UI-CSS-master/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/blog/css/myblog.css}">
    <link rel="stylesheet" th:href="@{/blog/lib/editor.md-master/css/editormd.min.css}">
    <script type="text/javascript" th:src="@{/blog/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/blog/Semantic-UI-CSS-master/semantic.min.js}"></script>
    <!--[if IE 6]>
    <script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>视频上传</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 视频管理 <span
        class="c-gray en">&gt;</span> 视频上传
</nav>
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form th:action="@{/videoUpload}" method="post" enctype="multipart/form-data" target="_blank" class="ui form">
            <div class="field required">
                <div class="ui right labeled action input ">
                    <input type="text" name="title" placeholder="标题">
                    <div class="ui selection dropdown orange basic label compact">
                        <input type="hidden" name="property" th:value="原创">

                        <i class="ui dropdown icon"></i>
                        <div class="text">原创</div>
                        <div class="ui menu">
                            <div class="item" data-value="1">原创</div>
                            <div class="item" data-value="2">转载</div>
                            <div class="item" data-value="3">翻译</div>
                        </div>
                    </div>
                </div>

            </div>
            <!--            <div class="field required">-->
            <!--                <div class="ui right labeled action input ">-->
            <!--                    <input type="text" name="title" placeholder="标题">-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="field">
                <div class="ui right labeled action input field">
                    <label class="ui compact teal basic label">视频</label>
                    <input type="file" id="chooseImage" name="file" accept="video/mp4">
                </div>
            </div>

            <div class="field">
                <div class="ui left labeled action input field">
                    <label class="ui compact teal basic label">分类</label>
                    <select class="ui selection dropdown fluid" id="select_id" name="type">
                        <option th:each="type:${types}" data-value="1" th:data-value="${type.id}"
                                th:text="${type.typeName}"></option>
                    </select>
                </div>
            </div>

            <div class="field">
                <div class="ui left labeled input fluid">
                    <label class="ui teal basic label">封面</label>
                    <input type="text" name="pictureUrl" placeholder="封面地址">
                </div>
            </div>

            <div class="inline fields m-padded-tb-small">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="shareInfo" name="isReprint" value="1" class="hidden">
                        <label for="shareInfo">转载声明&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" id="comment" name="isComment" value="1" class="hidden">
                        <label for="comment">留言</label>
                    </div>
                </div>
            </div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <!--                <button type="submit" class="ui button teal" name="state" value="0">保存</button>-->
                <!--                <button type="submit" class="ui button red" name="state" value="1">发布</button>-->
                <button type="submit" class="ui button red">发布视频</button>
            </div>
        </form>
    </div>
</div>

</body>
<script type="text/javascript" th:src="@{/js/videoUpload.js}"></script>
</html>