<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- comment -->
<mapper namespace="com.shop.mapper.ShopCommentMapper">
    <resultMap id="shopCommentMap" type="com.commons.entity.ShopComment">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="shop" property="shop" jdbcType="INTEGER" />
        <result column="time" property="time" jdbcType="TIMESTAMP" />
        <result column="isAdmin" property="isAdmin" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="parent" property="parent" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 表查询字段 -->
    <sql id="allColumns">
        c.id, c.name, c.email, c.shop, c.time, c.isAdmin,c.content,c.parent
    </sql>

    <!-- 根据条件参数查询数据列表 -->
    <select id="findShopCommentByPage" resultMap="shopCommentMap" parameterType="map">
        SELECT
        <include refid="allColumns" />
        FROM shop_comment c WHERE 1 = 1
        <if test="name != null and name != ''">
            AND c.name = #{name}
        </if>
        <if test="email != null and email != ''">
            AND c.email = #{email}
        </if>
        <if test="shop != null">
            AND c.shop = #{video}
        </if>
        <if test="time != null">
            AND c.time = #{time}
        </if>
        <if test="isAdmin != null">
            AND c.isAdmin = #{isAdmin}
        </if>
        <if test="content != null">
            AND c.content = #{content}
        </if>
        ORDER by c.time desc
        LIMIT #{begin} , #{size}
    </select>

    <!-- 根据主键查询数据 -->
    <select id="findShopCommentById" resultMap="shopCommentMap" parameterType="integer">
        SELECT
        <include refid="allColumns" />
        FROM shop_comment c WHERE c.id =#{id}
    </select>

    <select id="findPShopCommentByShopId" resultMap="shopCommentMap" parameterType="integer">
        SELECT
        <include refid="allColumns" />
        FROM shop_comment c WHERE c.shop =#{shop} and c.parent=-1
    </select>

    <select id="findSShopCommentByShopId" resultMap="shopCommentMap" parameterType="integer">
        SELECT
        <include refid="allColumns" />
        FROM shop_comment c WHERE c.shop =#{shop} and c.parent !=-1
    </select>

    <!-- 插入数据 -->
    <insert id="insertShopComment" parameterType="com.commons.entity.ShopComment">
        INSERT INTO shop_comment (
            id, name, email, shop, time, isAdmin, content, parent
        ) VALUES (
                     #{id},
                     #{name},
                     #{email},
                     #{shop},
                     #{time},
                     #{isAdmin},
                     #{content},
                     #{parent}
                 )
    </insert>

    <!-- 修改数据 -->
    <update id="updateShopComment" parameterType="com.commons.entity.ShopComment">
        UPDATE shop_comment
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="shop != null">
                shop = #{shop},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="isAdmin != null">
                isAdmin = #{isAdmin}
            </if>
            <if test="content != null">
                content = #{content}
            </if>
            <if test="parent != null">
                parent = #{parent}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据主键删除数据 -->
    <delete id="deleteShopCommentById" parameterType="int">
        DELETE FROM shop_comment WHERE id = #{id}
    </delete>
</mapper>