<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ShopMapper">
    <resultMap id="Shop" type="com.commons.entity.Shop">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="cost" column="cost"/>
        <result property="vv" column="vv"/>
        <result property="state" column="state"/>
        <result property="typeId" column="typeId"/>
        <result property="push" column="push"/>
        <result property="pushTime" column="pushTime"/>
        <result property="isComment" column="isComment"/>
        <result property="date" column="date"/>
        <result property="buy" column="buy"/>
        <result property="content" column="content"/>
    </resultMap>
    <resultMap id="ShopType" type="com.commons.entity.ShopType">
        <id property="id" column="id"/>
        <result property="typeName" column="typeName"/>
    </resultMap>

    <insert id="addShop" parameterType="com.commons.entity.Shop">
        INSERT INTO shop (cost, title, content, date, typeId, pictureUrl, isComment, state)
        VALUES (#{cost}, #{title}, #{content}, #{date}, #{typeId}, #{pictureUrl}, #{isComment}, #{state})
    </insert>

    <update id="addShopPushById">
        UPDATE shop
        SET push     = #{push},
            pushTime = #{pushTime}
        WHERE id = #{id}
    </update>
    <!--播放量+1-->
    <update id="addShopVv">
        UPDATE shop
        SET vv = vv + 1
        WHERE id = #{id}
    </update>

    <insert id="addShopBuy">
        UPDATE shop
        SET buy = buy + 1
        WHERE id = #{id}
    </insert>

    <insert id="addTypeByTypeName" parameterType="com.commons.entity.ShopType">
        INSERT INTO shop_type (typeName)
        VALUES (#{typeName})
    </insert>

    <delete id="deleteShopById">
        DELETE
        FROM shop
        WHERE id = #{id}
    </delete>

    <select id="getShopList" resultType="com.commons.entity.Shop">
        SELECT *
        FROM shop
    </select>

    <select id="getShopListByHeat" resultType="com.commons.entity.Shop">
        SELECT *
        FROM shop
        ORDER BY vv * 4 + buy * 2 DESC
    </select>

    <select id="getShopListBySystem" resultType="com.commons.entity.Shop">
        SELECT *
        FROM shop
        WHERE push = 1
    </select>

    <select id="getShopListByType" resultType="com.commons.entity.Shop">
        SELECT *
        FROM shop
        WHERE typeId = #{typeId}
    </select>
    <!--Another Magic!-->
    <select id="getOtherShopListByType" resultType="com.commons.entity.Shop">
        SELECT *
        FROM shop
        WHERE typeId = (SELECT typeId FROM shop WHERE id = #{id})
          AND id!=#{id}
        ORDER BY vv * 4 + buy * 2 DESC
    </select>

    <select id="getShopById" resultType="com.commons.entity.Shop">
        SELECT *
        FROM shop
        WHERE id = #{id}
    </select>

    <select id="selectTypeIdByName" resultType="java.lang.Integer">
        SELECT id
        FROM shop_type
        WHERE typeName = #{typeName}
    </select>

    <select id="getShopByName" resultType="com.commons.entity.Shop">
        SELECT *
        FROM shop
        WHERE title LIKE '%${_parameter}%'
    </select>

    <select id="getOneType" resultType="com.commons.entity.ShopType">
        SELECT *
        FROM shop_type
    </select>

    <select id="getTypeByTypeName" resultType="com.commons.entity.ShopType">
        SELECT *
        FROM shop_type
        WHERE typeName = #{typeName}
    </select>

    <select id="getTypeByTypeId" resultType="com.commons.entity.ShopType">
        SELECT *
        FROM shop_type
        WHERE id = #{id}
    </select>

</mapper>