.breadcrumb {
    background-color: #f5f5f5;
    padding: 0 20px;
    position: relative;
    z-index: 99;
}

.breadcrumb {
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
}

.radius {
    border-radius: 4px;
}