<!DOCTYPE HTML>
<html lang="zh-hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" th:href="@{/favicon.ico}">
    <link rel="Shortcut Icon" th:href="@{/favicon.ico}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/lib/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{/lib/respond.min.js}"></script>
    <![endif]-->
    <link rel="stylesheet" th:href="@{/blog/Semantic-UI-CSS-master/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/blog/css/myblog.css}">
    <!--[if IE 6]>
    <script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>通知</title>
</head>
<body>
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui segment middle aligned">
            <h2>付款失败！</h2>
            <h3>请认真核对您的支付信息，如有问题请联系客服</h3>
        </div>
    </div>
</div>
<script th:src="@{/blog/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/blog/Semantic-UI-CSS-master/semantic.min.js}"></script>
<script th:src="@{/blog/js/tip.js}"></script>
</body>
</html>