<!DOCTYPE HTML>
<html lang="zh-hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" th:href="@{/favicon.ico}">
    <link rel="Shortcut Icon" th:href="@{/favicon.ico}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/lib/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{/lib/respond.min.js}"></script>
    <![endif]-->
    <link rel="stylesheet" th:href="@{/blog/css/simpleControl.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" th:href="@{/blog/Semantic-UI-CSS-master/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/blog/css/myblog.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/red/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>编辑标签</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 文章管理 <span
        class="c-gray en">&gt;</span> 编辑标签<a class="btn btn-success radius r"
                                                 style="line-height:1.6em;margin-top:3px"
                                                 onclick="PageRefresh()" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui form segment">
            <div class="fields inline">
                <div class="field">
                    <input type="text" name="name" placeholder="标签" id="name">
                </div>


                <div class="field right aligned">
                    <button class="ui small teal basic button" onclick="initialization()"><i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </div>
        <div id="table-container">
            <table th:fragment="table_refresh" class="ui table celled center aligned">
                <thread>
                    <tr>
                        <th></th>
                        <th>标签名称</th>
                        <th>博客数量</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                </thread>
                <tbody>
                <tr th:each="tag,iter:${tags}">
                    <td th:text="${iter.index+1}">1</td>
                    <td th:text="${tag.getName()}">一年总结</td>
                    <td th:text="${tag.getNumber()}">3</td>
                    <td th:text="${#dates.format(tag.getDate(),'yyyy-MM-dd')}">2020-7-04 15:12</td>
                    <td>
                        <a class="ui button  teal basic mini " th:href="'/admin/tag-input/'+${tag.getId()}">编辑</a>
                        <a class="ui button  red basic mini " th:attr="data-id=${tag.getId()}"
                           onclick="deleteTag(this)">删除</a>
                    </td>
                </tr>


                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui pagination menu mini">
                            <a onclick="pre()" class="ui item ">上一页</a>
                            <a onclick="next()" class="ui item ">下一页</a>
                        </div>
                        <a href="/admin/tag-input" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/blog/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/blog/Semantic-UI-CSS-master/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{/blog/js/tags.js}"></script>
</body>
</html>