<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.mapper.VideoMapper">
    <resultMap id="Video" type="com.commons.entity.Video">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="size" column="size"/>
        <result property="type" column="type"/>
        <result property="path" column="path"/>
        <result property="uploadTime" column="uploadTime"/>
        <result property="vv" column="vv"/>
        <result property="download" column="download"/>
        <result property="typeId" column="typeId"/>
        <result property="push" column="push"/>
        <result property="pushTime" column="pushTime"/>
    </resultMap>
    <resultMap id="VideoType" type="com.commons.entity.VideoType">
        <id property="id" column="id"/>
        <result property="typeName" column="typeName"/>
    </resultMap>

    <insert id="addVideo" parameterType="com.commons.entity.Video">
        INSERT INTO video (title, pictureUrl, isReprint, isComment, property, size, type, path, uploadTime, typeId)
        VALUES (#{title}, #{pictureUrl}, #{isReprint}, #{isComment}, #{property}, #{size}, #{type}, #{path},
                #{uploadTime}, #{typeId})
    </insert>

    <update id="addVideoClickNum">
        UPDATE video_click
        SET num = num + 1
        WHERE videoId = #{videoId}
    </update>

    <update id="addVideoPushById">
        UPDATE video
        SET push     = #{push},
            pushTime = #{pushTime}
        WHERE id = #{id}
    </update>
    <!--播放量+1-->
    <update id="addVideoVv">
        UPDATE video
        SET vv = vv + 1
        WHERE id = #{id}
    </update>

    <insert id="addVideoDownload">
        UPDATE video
        SET download = download + 1
        WHERE id = #{id}
    </insert>

    <insert id="addTypeByTypeName" parameterType="com.commons.entity.VideoType">
        INSERT INTO video_type (typeName)
        VALUES (#{typeName})
    </insert>
    <!--TODO File delete-->
    <delete id="deleteVideoById">
        DELETE
        FROM video
        WHERE id = #{id}
    </delete>

    <select id="getVideoList" resultType="com.commons.entity.Video">
        SELECT *
        FROM video
    </select>
    <!--Magic !-->
    <select id="getVideoListByHeat" resultType="com.commons.entity.Video">
        SELECT *
        FROM video
        ORDER BY vv * 4 + download * 2 DESC
    </select>

    <select id="getVideoListBySystem" resultType="com.commons.entity.Video">
        SELECT *
        FROM video
        WHERE push = 1
    </select>

    <select id="getVideoListByType" resultType="com.commons.entity.Video">
        SELECT *
        FROM video
        WHERE typeId = #{typeId}
    </select>
    <!--Another Magic!-->
    <select id="getOtherVideoListByType" resultType="com.commons.entity.Video">
        SELECT *
        FROM video
        WHERE typeId = (SELECT typeId FROM video WHERE id = #{id})
          AND id!=#{id}
        ORDER BY vv*4+download*2 DESC
    </select>

    <select id="getVideoById" resultType="com.commons.entity.Video">
        SELECT *
        FROM video
        WHERE id = #{id}
    </select>

    <select id="selectTypeIdByName" resultType="java.lang.Integer">
        SELECT id
        FROM video_type
        WHERE typeName = #{typeName}
    </select>

    <select id="getVideoByName" resultType="com.commons.entity.Video">
        SELECT *
        FROM video
        WHERE title LIKE '%${_parameter}%'
    </select>

    <select id="getOneType" resultType="com.commons.entity.VideoType">
        SELECT *
        FROM video_type
    </select>

    <select id="getTypeByTypeName" resultType="com.commons.entity.VideoType">
        SELECT *
        FROM video_type
        WHERE typeName = #{typeName}
    </select>

    <select id="getTypeByTypeId" resultType="com.commons.entity.VideoType">
        SELECT *
        FROM video_type
        WHERE id = #{id}
    </select>

</mapper>