<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trinity.mapper.UserMapper">
    <resultMap id="BaseResult" type="com.commons.entity.Users">
        <id property="userID" column="userID"/>
        <result property="userName" column="userName"/>
        <result property="userSex" column="userSex"/>
        <result property="password" column="password"/>
        <result property="userhand" column="userhand"/>
        <result property="userAddress" column="userAddress"/>
        <result property="userPhone" column="userPhone"/>
        <result property="userQQ" column="userQQ"/>
        <result property="userEmail" column="userEmail"/>
        <result property="userCollection" column="userCollection"/>
        <result property="userPayCard" column="userPayCard"/>
        <result property="userStatus" column="userStatus"/>
        <result property="userLoginTime" column="userLoginTime"/>
        <result property="userIP" column="userIP"/>
        <result property="userPayPassword" column="userPayPassword"/>
        <result property="userRMB" column="userRMB"/>
        <result property="salt" column="salt"/>
        <result property="safeQuestion1" column="safeQuestion1"/>
        <result property="answer1" column="answer1"/>
        <result property="safeQuestion2" column="safeQuestion2"/>
        <result property="answer2" column="answer2"/>
        <result property="role" column="role"/>
        <result property="userBirthday" column="userBirthday"/>
    </resultMap>
    <!--    编辑用户状态-->
    <update id="EditUser">
        UPDATE user
        SET userName   = #{userName},
            userSex    = #{userSex},
            password   =#{password},
            salt       = #{salt},
            role       =#{role},
            userStatus =#{userStatus},
            userPhone  = #{userPhone},
            userEmail  =#{userEmail}
        WHERE userID = #{userID}
    </update>

    <select id="getUserByUsername" parameterType="java.lang.String" resultMap="BaseResult">
        SELECT *
        FROM user u
        WHERE userName = #{username}
    </select>

    <select id="getUserByID" resultType="com.commons.entity.Users">
        SELECT *
        FROM user u
        WHERE userID = #{userID}
    </select>
    <!--    TODO 部分参数暂时未添加-->
    <insert id="addUser" parameterType="com.commons.entity.Users" keyColumn="userID" useGeneratedKeys="true">
        INSERT INTO user (userID, userName, userSex, password, salt, role, userStatus, userPhone, userEmail)
        VALUES (#{userID}, #{userName}, #{userSex}, #{password}, #{salt}, #{role}, #{userStatus}, #{userPhone},
                #{userEmail})
    </insert>
</mapper>